html{
    margin:0px;
    background-color: rgb(63, 63, 63);
}

.head{
    margin: 0px !important;
    border: 5px dashed black;
    background-color: rgb(54, 147, 190);
    width: 98vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Mainpart{
    display: flex;
    flex-direction: row;
    .Men{
        width: 200px;
        height: 730px;
        background-color: rgb(204, 204, 204);
        .Top{
            h2{
                font-weight: bold;
            }
        }
        ul{
            list-style-type:none;
        }
    }
    .spacer{
        width: 30px;
    }
    .spacer2{
        width: 50px;
    }
    .Forschung{
        background-color: white;
        width: 1500px;
        .dick{
            font-weight: bold;
        }
        .center{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .content{
            padding: 0px 10px 50px 30px;
        }
    }
}